NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAEYfjM9wPLoABq_9lPmoJLHePlXUWFgcE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=luqman-fabrics.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=luqman-fabrics
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=luqman-fabrics.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=363299998275
NEXT_PUBLIC_FIREBASE_APP_ID=1:363299998275:web:a0db6bffeaf809c85422f6
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-DZC95CJZTR
